@font-face {
    font-family: HurmeGeometricSans3;
    src: url(../../assets/fonts/HurmeGeometricSans3-Regular.ttf);
}
@font-face {
    font-family: HurmeGeometricSans3 bold;
    src: url(../../assets/fonts/HurmeGeometricSans3-Bold.ttf);
}
